<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilans</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>

<div th:each="event: ${parcel.events}">
    <p th:text="${event.date}"></p>
    Typ zdarzenia: <p th:text="${event.type}"></p>
Bilans

<table style="border: ">
    <tr>
        <th th:each="subAccount: ${event.balance.subAccounts}" th:text="${subAccount.type}"></th>
        <th>Suma</th>
    </tr>
    <tr>
        <td th:each="subAccount: ${event.balance.subAccounts}" th:text="${subAccount.amount}"></td>
        <td th:text="${event.balance.sum}"></td>
    </tr>
</table>
</div>
</body>
</html>