<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilans</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>


<table style="border: ">
    <tr>
        <th rowspan="2">Data</th>
        <th rowspan="2">Zdarzenie</th>
        <th th:colspan="${subaccounts.length + 2}">Bilans</th>
    </tr>
    <tr>
        <th th:each="type: ${subaccounts}" th:text="${type}"></th>
        <th>Nadpłata</th>
        <th>Suma</th>
    </tr>
    <tr th:each="event: ${parcel.events}">
        <td th:text="${event.date}"></td>
        <td th:text="${event.type}"></td>
        <td th:each="subAccount: ${event.balance.subAccounts}" th:text="${subAccount.amount}"></td>
        <td th:text="${event.balance.excess}"></td>
        <td th:text="${event.balance.sum}"></td>
    </tr>
</table>
</div>
</body>
</html>