<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.text.balance}">Balance</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 3px;
        }
        form {
            margin-top: 30px;
        }
    </style>
</head>
<body>


<table>
    <tr>
            <th></th>
            <th  th:text="#{page.parcels.text.id}">Id</th>
            <th  th:text="#{page.parcels.text.area}">Area</th>
            <th  th:text="#{page.parcels.text.balance}">Balance</th>
    </tr>
    <tbody th:each="parcel: ${parcels}">
    <tr>
        <td th:text="${parcelStat.count}"></td>
        <td><a th:text="${parcel.number}" th:href="${'/parcels/' + parcel.id}"></a></td>
        <td th:text="${parcel.size}"></td>
        <td th:text="${parcel.balance.sum}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/fees}" method="post">

    <table>
        <tr>
            <th th:colspan="${subaccounts.length}" th:text="#{page.text.fees}">Fees</th>
        </tr>
        <tr>
            <th th:each="type: ${subaccounts}" th:text="#{subaccount.name.__${type}__}"></th>
        </tr>
        <tr>
            <td th:each="subaccount: ${subaccounts}"><input type="number" value="0" th:name="${subaccount}"/>&nbsp;<span th:text="${subaccount.name() eq 'GARDEN' ? 'PLN/m2' : 'PLN'}">PLN</span></td>
        </tr>
    </table>

    <input type="submit" th:value="#{page.text.add_fees}"/>

</form>

<a th:href="@{/delete_all}" th:text="#{page.text.delete_all}">Delete all data</a> |
<a th:href="@{/upload}" th:text="#{page.text.import_data}">Import data</a> |
<a th:href="@{/logout}" th:text="#{page.text.logout}">Logout</a>



</body>
</html>